.main-header-panel {
  position: relative;
  min-height: 100vh;
}

.main-header-panel__background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.main-header {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 100%;
  background: var(--background-color1);
  box-shadow: 0 15px 15px var(--background-color1);
}

.main-header-wrap {
  position: relative;
  width: 1440px;
  padding: var(--indentation1);
  box-sizing: border-box;
  font-family: var(--font-family1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header_main-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -1rem;
  margin-bottom: -0.8rem;

  > * {
    margin-right: 1rem;
    margin-bottom: 1.8rem;
  }
}

.main-header__owner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__photo-owner {
  max-width: 10rem;
  border-radius: 50%;
}

.main-header__name-owner {
  font-size: var(--font-size4);
  letter-spacing: 1.5px;
}

.main-header__btn-greeting-owner {
  position: relative;
  padding: 0.8rem;/*падинг не увеличил зону кликабельности
  когда кнопка в статике*/
  border-right: 3px solid var(--background-color2);
  border-bottom: 3px solid var(--background-color2);
  transform: skew(10deg, 10deg);
  animation-name: button-animation;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.main-header__btn-greeting-owner:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  border-right: 3px solid var(--background-color2);
  border-bottom: 3px solid var(--background-color2);
  transform: translateX(-70%) translateY(-70%);
}

.main-header__logo {
  max-width: 6rem;
}

.main-header__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts__wrap-phone-number {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.contacts__phone-number {
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  font-size: var(--font-size4);
}

.contacts__telegram-img,
.contacts__phone-img {
  max-width: 2.6rem;
}

.contacts__phone-img {
  margin-right: 1rem;
}

.greeting-owner-wrap {
  width: 100%;
  padding: var(--indentation1);
  padding-top: 0.5rem;
  box-sizing: border-box;
  position: absolute;
  transform: translateY(-3rem);
  top: 100%;
  left: 0;
  z-index: 100;
}

.main-header__greeting-owner {
  padding: var(--indentation1);
  background: var(--background-color3);
  font-size: var(--font-size1);
  font-family: var(--font-family2);
  border-radius: var(--border-raius1) 0 0 var(--border-raius1);
}

.greeting-owner__bottom-btn-close,
.greeting-owner__top-btn-close {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 50% 50% 0 0;
  background: var(--background-color3);
}

.greeting-owner__bottom-btn-close:after,
.greeting-owner__top-btn-close:after {
  position: absolute;
  content: "";
  transform: translateX(-50%) rotate(45deg);;
  min-width: 2rem;
  border-bottom: 3px solid var(--background-color2);
}

.greeting-owner__bottom-btn-close:before,
.greeting-owner__top-btn-close:before {
  position: absolute;
  transform: translateX(-50%) rotate(-45deg);
  content: "";
  min-width: 2rem;
  border-bottom: 3px solid var(--background-color2);
}

.greeting-owner__bottom-btn-close {
  display: none;
  border-radius: 0 0 50% 50%;
}





