.main-header-panel {
  min-height: 100vh;
  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  display: flex;
  justify-content: center;
  min-width: 100%;
  background: var(--background-color1);
  box-shadow: 0 15px 15px var(--background-color1);
}

.main-header-wrap {
  width: 1440px;
  position: relative;
  padding: var(--indentation1);
  font-size: 3.6rem;
  padding-bottom: 0.8em;
  box-sizing: border-box;
  font-family: var(--font-family1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header_main-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: -10px;
  margin-bottom: -1em;

  > * {
    margin-right: 10px;
    margin-bottom: 1em;
  }
}

.main-header__owner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__photo-owner {
  max-width: 5em;
  border-radius: 50%;
}

.main-header__name-owner {
  letter-spacing: 0.1em;
}

.main-header__btn--greeting {
  position: relative;
  padding: 0.4em;
  border-right: 3px solid var(--background-color2);
  border-bottom: 3px solid var(--background-color2);
  transform: skew(10deg, 10deg);
  animation-name: button-animation;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.main-header__btn--greeting:after {
  position: absolute;
  content: "";
  width: 0.6em;
  height: 0.6em;
  border-right: 3px solid var(--background-color2);
  border-bottom: 3px solid var(--background-color2);
  transform: translateX(-70%) translateY(-70%);
}

.main-header__logo {
  max-width: 3em;
}

.main-header__address {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.address__phone-number-wrap {
  display: flex;
  flex-direction: row;
  margin-right: 0.8em;
}

.main-header__telegram-img,
.address__phone-img {
  max-width: 0.8em;
}

.address__phone-img {
  margin-right: 0.4em;
}

.main-header__greeting-wrap {
  width: 100%;
  padding: var(--indentation1);
  padding-top: 0;
  box-sizing: border-box;
  position: absolute;
  transform: translateY(-3rem);
  top: 100%;
  left: 0;
  z-index: 100;
}

.main-header__greeting {
  padding: var(--indentation1);
  background: var(--background-color3);
  font-size: var(--font-size1);
  font-family: var(--font-family2);
  border-radius: var(--border-radius1) 0 0 var(--border-radius1);
}

.greeting__top-btn--close{
  border-radius: 50% 50% 0 0;
  left: 100%;
  transform: translateX(-100%);
}

.greeting__bottom-btn--close {
  display: none;
  border-radius: 0 0 50% 50%;
  left: 100%;
  transform: translateX(-100%);
}








