@media (max-width: 700px) {
  :root {
    --indentation1: 1.2rem;
  }
  .main-header-panel {
    background-image: url(../img/header-background-mobile.jpg);
  }

  .main-header_main-information {
    flex-direction: column;
  }

  .main-header__owner {
    order: 1;
  }

  .address__phone-img {
    display: none;
  }

  @keyframes button-animation {
    0% {
      left: 0;
      top: 0;
    }
    100% {
      left: 0;
      top: 3px;
    }
  }

  .main-header__btn--greeting {
    transform: scale(0.8, 1.5) rotate(45deg);
  }

  .greeting__bottom-btn--close {
    display: block;
  }

  .app-main{
    background-image:
            url(../img/section-order-form-background-mobile.jpg);
  }
}

@media (max-width: 1000px) {
  .order-form__products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}