@media (max-width: 700px) {
  .main-header_main-information{
    flex-direction: column;
  }

  :root{
    --indentation1:  1.2rem;
  }
}

@media (max-width: 1000px) {
  .order-form__products{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}