.app-main {
  background-image: url(../img/section-order-form-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app-main-wrap {
  position: relative;
  max-width: 1440px;
  padding: var(--indentation1);
  box-sizing: border-box;
}

.app-main__header {
  background: var(--background-color1);
  border-radius: var(--border-radius1);
  margin-bottom: 2em;
  padding: var(--indentation1);
}

.app-main__title {
  margin-bottom: 0.6em;
  font-size: var(--font-size3);
}

.app-main__paragraph {
  font-size: var(--font-size2);
}

#order-form {
  background: var(--background-color1);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius1);
  font-size: var(--font-size2);
  padding: var(--indentation1);
}

.order-form__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 1.2em;
  margin-bottom: 1em;

  fieldset {
    border-radius: var(--border-radius1);
  }

  legend {
    margin-bottom: 0.2em;
    padding: 0.2em;
  }

  > *:last-child {
    margin: 0;
  }
}

.order-form__fieldset {
  padding: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    display: none;
  }

  input:checked + label {
    background: var(--background-color2);
    color: var(--font-color2);
  }

  > *:last-child {
    margin: 0;
  }

  label {
    border: solid 1px var(--background-color2);
    cursor: pointer;
    text-align: center;
    padding: 0.1em 0.3em;
    margin-bottom: 0.3em;
    min-width: 3em;
    background: rgba(2, 2, 2, 0.7) /*var(--background-color1)*/
  ;
    border-radius: var(--border-radius1);
    box-shadow: inset 2px 2px 10px var(--background-color1),
    1px 1px 5px var(--background-color2);
  }
}

.order-form__form-controls {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#order-form__note {
  font-size: var(--font-size1);
  background: var(--background-color2);
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  height: 2em;
  border-radius: var(--border-radius1);
  padding: 0.4em;
  margin-bottom: 0.8em;
  box-sizing: border-box;
}

.order-form__user-name {
  background: var(--background-color2);
  outline: none;
  border: none;
  width: 100%;
  height: 2em;
  border-radius: var(--border-radius1);
  font-size: var(--font-size2);
  padding: 0.4em;
  margin-bottom: 0.8em;
  box-sizing: border-box;
}

.form-controls__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  margin-right: -20px;
  justify-content: center;
}

.order-form__btn--reset,
.order-form__btn--submit {
  background: var(--background-color2);
  border-radius: var(--border-radius1);
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0.4em;
}

.order-form__modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: calc(1440px - var(--indentation1) * 2);
  max-height: 100vh;
  background: var(--background-color3);
  overflow-y: auto;
  font-family: var(--font-family2);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.6em var(--indentation1);
  box-sizing: border-box;

  table {
    font-size: var(--font-size1);
    margin-bottom: 1em;
    border-collapse: collapse;

    th, td {
      border: solid 1px var(--border-color1);
      padding: 0.3em;
    }

    td:first-child {
      max-width: 9em;
    }

    td:last-child {
      word-break: break-word;
    }
  }
}

.order-form__modal-paragraph {
  font-size: var(--font-size1);
  margin-bottom: 1em;
}

.order-form__btn--close-modal {
  position: relative;
  order: 10;
  top: 100%;
  border: solid 1px var(--background-color2);
  border-radius: 50%;
}




