.app-main{
  background-image: url(../img/section-order-form-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app-main-wrap {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: var(--indentation1);
  box-sizing: border-box;
}

.app-main__header {
  background: var(--background-color1);
  border-radius: var(--border-raius1);
  margin-bottom: 1rem;
  padding: var(--indentation1);
}

.app-main__title {
  margin-bottom: 1rem;
  font-size: var(--font-size2);
}

.app-main__paragraph {
  font-size: var(--font-size1);
}

#order-form {
  background: var(--background-color1);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-raius1);
  font-size: var(--font-size1);
  padding: var(--indentation1);

  fieldset {
    border-radius: var(--border-raius1);
  }

  legend {
    margin-bottom: 0.4rem;
    padding: 0.4rem;
  }
}

.order-form__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--indentation1);
  margin-bottom: 1rem;

  > *:last-child {
    margin: 0;
  }
}

.order-form__fieldset {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  > *:last-child {
    margin: 0;
  }

  label {
    margin-bottom: 0.5rem;

    input {
      min-width: 1rem;
      min-height: 1rem;
      margin-right: 0.5rem;
    }
  }
}

.order-form__form-controls {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

#order-form__textarea {
  resize: none;
  outline: none;
  border: none;
  width: 15rem;
  height: 50px;
  border-radius: var(--border-raius1);
  margin-bottom: 1rem;
  font-size: var(--font-size0);
  padding: 0.5rem;
}

.order-form__user-name {
  outline: none;
  border: none;
  width: 15rem;
  height: 2rem;
  border-radius: var(--border-raius1);
  font-size: var(--font-size1);
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.order-form__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  margin-right: -30px;
  //кнопки разместить по центру если меньше 350
}

.order-form__btn--reset,
.order-form__btn--submit {
  background: var(--background-color2);
  border-radius: var(--border-raius1);
  margin-bottom: 15px;
  margin-right: 30px;
  padding: 0.5rem;
}

.order-form__modal{
  background: var(--background-color3);
  font-size: var(--font-size1);
  font-family: var(--font-family2);
  border-radius: var(--border-raius1);
  display: none;
  position: fixed;
  top: 0.5rem;
  width: 90vw;
  max-width: 54rem;
}

.order-form__wrap-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--indentation1);

  > :not(:last-child){
    margin-bottom: 1rem;
  }

  table, th, td  {
    font-size: 0.9rem;
    //width: 100%;
    //max-width: 54rem;
    // если в таблице есть длинное слово то
    //то верстка ламается. как исправит
    border: solid 1px;
    border-color: var(--border-color1);
    border-radius: var(--border-raius1);/*не работает почему*/
    border-collapse: collapse;
    padding: 0.4rem;
  }

  th, td{
    display: table-cell;
    vertical-align: top;
    //width: 100px;
    max-width: 8rem;
    min-width: 8rem;
  }
}



