.app-main{
  background-image: url(../img/section-order-form-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app-main-wrap {
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding: var(--indentation1);
  box-sizing: border-box;
}

.app-main__header {
  background: var(--background-color1);
  border-radius: var(--border-radius1);
  margin-bottom: 2em;
  padding: var(--indentation1);
}

.app-main__title {
  margin-bottom: 0.6em;
  font-size: var(--font-size3);
}

.app-main__paragraph {
  font-size: var(--font-size2);
}

#order-form {
  background: var(--background-color1);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius1);
  font-size: var(--font-size2);
  padding: var(--indentation1);
}

.order-form__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 1.2em;
  margin-bottom: 1em;

  fieldset {
    border-radius: var(--border-radius1);
  }

  legend {
    margin-bottom: 0.2em;
    padding: 0.2em;
  }

  > *:last-child {
    margin: 0;
  }
}

.order-form__fieldset {
  padding: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input {
    display: none;
  }

input:checked + label{
  background: #fafafa;
  color: black;
}

  > *:last-child {
    margin: 0;
  }

  label {
    cursor: pointer;
    text-align: center;
    padding: 0.1em 0.3em;
    margin-bottom: 0.3em;
    min-width: 3em;
    background: var(--background-color1);
    border-radius: var(--border-radius1);
  }
}

.order-form__form-controls {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

#order-form__note {
  font-size: var(--font-size1);
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  height: 2em;
  border-radius: var(--border-radius1);
  padding: 0.4em;
  margin-bottom: 0.8em;
  box-sizing: border-box;
}

.order-form__user-name {
  outline: none;
  border: none;
  width: 100%;
  height: 2em;
  border-radius: var(--border-radius1);
  font-size: var(--font-size2);
  padding: 0.4em;
  margin-bottom: 0.8em;
  box-sizing: border-box;
}

.order-form__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
  margin-right: -20px;
  justify-content: center;
}

.order-form__btn--reset,
.order-form__btn--submit {
  background: var(--background-color2);
  border-radius: var(--border-radius1);
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0.4em;
}

.order-form__modal{
  background: var(--background-color3);
  font-size: var(--font-size1);
  font-family: var(--font-family2);
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: calc(1440px - var(--indentation1) * 2);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--indentation1);
  box-sizing: border-box;

  //> :not(:last-child){
  //  margin-bottom: 1rem;
  //}

  table, th, td  {
    border: solid 1px;
    border-color: var(--border-color1);
    border-collapse: collapse;
    padding: 0.3em;
  }

  th, td{
    display: table-cell;
    vertical-align: top;
  }

  table td:first-child{
    //width: 100px;
    max-width: 9em;
    //min-width: 9em;
  }

  table td:last-child{
    word-break: break-word;
  }
}

.order-form__btn--close-modal{
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  border-radius: 0 0 50% 50%;
}




