:root{
  font-size: clamp(15px, 2vw, 22px);
}
body{
  background: #5d3535;
  color: white;
  font-family: Montserrat, Raleway, sans-serif, 'Amatic SC', cursive;
}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: Montserrat, Raleway, sans-serif;
  font-size: var(--font-size0);
  background: none;
  padding: 0;
  outline: none;
  border: none;
  text-transform: uppercase;
  //по умоланю если на смартфоне тапоешь по кнопке то на active
  // бекграунд менятся. как от этого избавиться?
}

picture{
  width: 100%;
  height: 100%;
  position: absolute;
}


@keyframes button-animation {
  0%{
    left: 0;
    top: 0;
  }
  100%{
    left: 3px;
    top: 3px;
  }
}