:root{
  font-size: clamp(10px,  62.5% , 14px);
  //font-size: clamp(15px, 2vw, 22px);
}

body{
  background: #5d3535;
  color: var(--font-color1);
  font-family: Montserrat, Raleway, sans-serif, 'Amatic SC', cursive;
}

*{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: Montserrat, Raleway, sans-serif;
  font-size: var(--font-size1);
  background: none;
  padding: 0;
  outline: none;
  border: none;
  text-transform: uppercase;
  //по умоланю если на смартфоне тапоешь по кнопке то на active
  // бекграунд менятся. как от этого избавиться?
}

a {
  text-decoration: none;
}

picture{
  width: 100%;
  height: 100%;
  position: absolute;
}

.btn--close {
  position: relative;
  min-width: 1.5em;
  min-height: 1.5em;
  border-radius: 50% 50%;
  background: var(--background-color3);
}

.btn--close:after {
  position: absolute;
  content: "";
  transform: translateX(-50%) rotate(45deg);;
  min-width: 1em;
  border-bottom: 3px solid var(--background-color2);
}

.btn--close:before {
  position: absolute;
  transform: translateX(-50%) rotate(-45deg);
  content: "";
  min-width: 1em;
  border-bottom: 3px solid var(--background-color2);
}


@keyframes button-animation {
  0%{
    left: 0;
    top: 0;
  }
  100%{
    left: 3px;
    top: 3px;
  }
}