:root {
  --background-color1: rgba(2, 2, 2, 0.5);
  --background-color2: rgba(255, 255, 255, 1);
  --background-color3: rgba(2, 2, 2, 0.9);

  --font-size6: 3.6rem;
  --font-size5: 3.2rem;
  --font-size4: 3rem;
  --font-size3: 2.8rem;
  --font-size2: 2.6rem;
  --font-size1: 2.4rem;

  --font-family1: 'Amatic SC', cursive;
  --font-family2: Raleway, sans-serif;

  --indentation1: 3.5rem;

  --border-radius1: 0.4rem;

  --border-color1: rgba(255, 255, 255, 1);

  --font-color1: rgb(221, 221, 221);
}

