:root{
  --background-color1: rgba(2, 2, 2, 0.5);
  --background-color2: rgba(255, 255, 255, 1);

  --font-size4: 50px;
  --font-size3: 30px;
  --font-size2: 27px;
  --font-size1: 24px;
  --font-size0: 20px;

  --font-family1: 'Amatic SC', cursive;
  --font-family2: Raleway, sans-serif;
}

