:root{
  --background-color1: rgba(2, 2, 2, 0.5);
  --background-color2: rgba(255, 255, 255, 1);

  --font-size4: 2.5rem;
  --font-size3: 2rem;
  --font-size2: 1.5rem;
  --font-size1: 1.3rem;
  --font-size0: 0.8rem;

  --font-family1: 'Amatic SC', cursive;
  --font-family2: Raleway, sans-serif;

  --padding-wrap:  1.8rem;
}

